.btn-yellow {
    background-color: yellow;

}

.btn-green{
    background-color: green;
    color:white
}

.btn-red{
    background-color: red;
    color: white;
}
body{
    text-align: center;
}
#linha1{
    background-color: red;
    color: yellow;
    margin-right: 1500px;
    padding: 10px;
    margin-left: 50px;
}
#linha2{
    background-color: orange;
    color: black;
    margin-right: 1400px;
    padding: 10px;
    margin-left: 100px;
}
#linha3{
    background-color: yellow;
    color: red;
    margin-right: 1300px;
    padding: 10px;
    margin-left: 150px;
}
#linha4{
    background-color: green;
    color: white;
    margin-right: 1200px;
    padding: 10px;
    margin-left: 200px;
}
#linha5{
    background-color: blue;
    color: white;
    margin-right: 1100px;
    padding: 10px;
    margin-left: 250px;
}
#linha6{
    background-color:rgb(12, 12, 107);
    color:white;
    margin-right: 1000px;
    padding: 10px;
    margin-left: 300px;
}
#linha7{
    margin-left: 350px;
    background-color: violet;
    color: white;
    padding: 10px;
    margin-right: 900px;
}
.imagens1{
    display: flex;
    border-radius: 10px;
}
.imagens1 div{
    margin-right: 10px;
}
.imagens1 div:last-child{
    margin-right: 0;
}
.imagens1 div:first-child{
    margin-left: 400px; 
}
.imagens2{
    display: flex;
    margin-left: 400px;
}